body{
  text-align:center;
  background:linear-gradient(  #4287f5 0%,#f54242 100%);
}
img{
  height:200px;
    width: 150px;
    border-radius:10%;
}
.menu{
    list-style: none;
    float: right;
    font-family: monospace;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: black;
}
.link{
    float: left;
    color:	#000080;
padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-weight: 900;
}

    .link:hover{
    background-color:aquamarine;
}
html{
    scroll-behavior: smooth;
}